table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 25px;
    background: cornflowerblue;
}

td {
    text-align: left;
    padding: 8px;
}

/*
give background color to even rows of the table
*/
tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
	text-indent: 50px;
	word-spacing: 10px;
	color: white;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

/*
give deeper shadow when mouse hover
*/
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*
give round cornor images
*/
img{
    
    border-radius: 5px 5px 0 0;
}

#redirectProfile{
    width: 80px;
    height: 20px;
    border: 3px solid #73AD21;
    background-color: yellow;
} 

#redirectMain{
    width: 70px;
    height: 20px;
    border: 3px solid #73AD21;
    background-color: yellow;
} 

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
	text-align: center;
	font-family: "Times New Roman"
	font-style: italic;
	font-size: 50px;
    color: white;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

/*
generate card looking for main.html text
*/
h3 {
    border: 1px solid black;
    outline-color: red;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-radius: 25px;
    background: gray;
}

/*
generate card looking for main.html images
*/
.card-image {
    border: 1px solid black;
    outline-color: red;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-radius: 25px;
    background: gray;

}

.input {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 25px;
}

body {
    background-color: cornflowerblue;
}

.button {
	text-align: center;
}